.lightGreen{
    background-color: #29E697;
  }
  
  .darkBlue{
    color: #090f68;
  }
  
  .title{
    font-size: 35px;
  }
  
  .mustard{
    background-color: rgb(255, 255, 12);
  }
  
  .kindOfRed{
    background-color: #912A17;
  }
  
  .footer{
    height: 300px;
  }